*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

header .first-container nav ul{
    list-style-type: none;
}

header .second-container ul {
    list-style-type: none;
}

header .first-container nav {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

header .first-container .logo {
    width: 40%;
    float: left;
}

header .first-container .menu1 {
    width: 60%;
    float: right;
    
}

header .first-container .logo a img{
    max-width: 100%;
    height: auto;
    margin: 0 2% 0 15%;
}

header .first-container .logo a img:hover {
    transform: scale(1.2);
}

header .first-container .menu1 ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    vertical-align: middle;
    font-size: 18px;
    
}

.hr1, .hr2{
    width: 100%;
    margin: 0;
}

header .second-container ul li {
    display: inline-block;
    margin: 2px 7%;
    font-size: 18px;
}

.search-box{
    height: 30px;
    width: 100%;
    padding: 2px 8px;
    border: 1px solid black;
    border-radius: 4px;
    
}

.search-btn{
    height: 30px;
    padding: 2px 8px;
    border: none;
    border-radius: 4px;
    background-color: #3349C0;
    color: white; 
}


a{
    text-decoration: none;
    color: black;
}

/*header section ends here*/





.hero img{
    max-width: 100%;
    height: auto;
}

.sidebar-and-gallery{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 10px auto;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}

.sidebar-and-gallery nav{
    display: inline-block;   
}

.side-bar{
    width: fit-content;
    height: fit-content;
    vertical-align: top;
    padding: 10px 20px 20px 20px;
    margin: 0 30px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
}


.side-bar ul li {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.225rem;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.side-bar hr{
    width: 100%;
    text-align: center;
    height: 3px;
    background-color: black;
}
.categories{
    font-size: 16px;
    font-weight: 800;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.bestsellers{
    color: blue;
}

#slider{
    max-width: 100%;
}

.slider-container{
    display: flex;
    justify-content:left;
    align-items: center;
    max-width: 30%;
    margin: 0 10px;

}

.range-container{
    width: 28%;
    height: fit-content;
    padding: 3px 10px;
    background-color: #fff;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
    margin: 5px;
    border-radius: 4px;
}

.range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.price{
    margin: 0 5px 0 0;
}

.sort{
    text-align: right;
    padding: 5px;
    font-size: 18px;
    width: fit-content;
    float: right;
   position: relative;
}

.sorting{
    margin: 8px 0;
}

#preference{
    padding: 5px 8px 5px 40px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
    border: none;
    appearance: none;
    background-color: transparent;
    
}

.fa-solid{
    color: #3349C0;
    font-size: 20px;
    position: absolute;
    right: 78%;
    top: 52%;
}

.user-preference{
    display: flex;
    margin: 1rem 14%;
    justify-content: space-between;
}

.range-and-price{
    min-width: 90%;
}

.gallery-container{
    width: 80%;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
    background-color: #fff;
    margin: 0 0 30px 0;
    
}

.gallery-top{
    margin: 5px 10%;
    padding: 0.5px;
    border: 1px solid black;
    background-color: black;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: #fff;
   
}

 
.book{
    background-color: #f5f6f1;
    padding: 0 0 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
    margin: 1rem;
}

  
.gallery .book figure img{
    max-width: 100%;
    height: auto;    
  }

  figcaption{
    margin: 5px 0 0 15px;
  }


.quantity-btn{
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 2px;
    background-color: #cfefee;
    color: gray;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
  }

.cart-btn{
    border: none;
    height: fit-content;
    width: fit-content;
    margin: 2px;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
  }


.gallery-navigation{
    display: block;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    position: relative;
}


.page{
    border: 1px solid black;
    padding: 2px 8px;    
}

.prev, .next{
    margin: 0 15px;
    padding: 5px 10px;
    font-size: 20px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, .7);
    color: white;

}

  .checked {
    color: red;
  }
  
  .unchecked{
    color: rgb(212, 203, 203);
  }
   .fa-star-half-full{
    color: red;
}



/* footer section statrts here*/

footer{
    background-color: #3349C0;
    color: #f0f0f0;
    width: 100%;
    height: fit-content;
    padding: 10px 0 20px 0;
    
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 14%;

}

.form-container form{
    display: flex;
    flex-direction: column;
}

.contact-us{
    font-size: 20px;
    font-weight: 700;
    margin: 2% 0 1% 0;
    
}

.contact-btn{
    width: fit-content;
    height: fit-content;
    padding: 8px 25px;
    margin: 0.5rem 0;
    color:white;
    background-color: black;
    border: none;
    border-radius: 5px;
}


input{
    height: 30px;
    padding: 2px 8px;
    border: 1px solid black;
    margin: 0.5rem 0;
}

.our-pages{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-top: 2%;
}

.footer-menu ul li{
    font-size: 20px;
    margin: 0 20px;
}

footer .footer-container .our-contact-details, footer .footer-container .terms{
    margin: 2% 0;
    font-size: 20px;
}

.our-contact-details ul, .terms ul{
    list-style-type: none;
}



.copy-right{
    background-color: rgb(2, 2, 58);
    height: 25px;
    border: none;
    vertical-align: middle;
    
}

.copy-right .copy-right-para img{
    max-width: 2%;
    height: auto;
}

.copy-right-para{
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    
}

.copy-c{
    border: none;
    font-size: 18px;
    vertical-align: middle;
    color: white;
    border-radius: 80px;
    font-weight: 900;
    padding: 1px;
    
}

.social-icons a img{
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    display: inline;
    float: right;
    margin: 0.5%;
}

#facebook-logo{
    margin-right: 5%;
}

/* footer section ends here*/
